<template name="appLayout">

  {{#ionBody}}
    {{> ionNavBar}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}

    {{#if isAndroid}}
      {{#ionTabs style="android"}}
        {{> ionTab title="Menu 1" path="" icon="android-star"}}
        {{> ionTab title="Menu 2" path="" icon="android-time"}}
        {{> ionTab title="Menu 3" path="" icon="android-notifications"}}
        {{> ionTab title="Menu 4" path="" icon="android-happy"}}
      {{/ionTabs}}
    {{else}}
      {{#ionTabs style="ios"}}
        {{> ionTab title="Menu 1" path="" iconOff="ios-bolt-outline" iconOn="ios-bolt" class="tab-item-positive"}}
        {{> ionTab title="Menu 2" path="" iconOff="ios-clock-outline" iconOn="ios-clock" class="tab-item-positive"}}
        {{> ionTab title="Menu 3" path="" iconOff="ios-bell-outline" iconOn="ios-bell" class="tab-item-positive"}}
        {{> ionTab title="Menu 4" path="" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive"}}
      {{/ionTabs}}
    {{/if}}
  {{/ionBody}}

</template>
